





@media only screen and (max-width: 1024px) {


	/****************************
	NAVIGATION
	****************************/


	nav ul {
		margin: 0 5px;
	}

	nav li {
		border: 1px white solid;
	}

	nav a {
		padding-left: 10px;
		padding-right: 10px;
		color: #f5f5f5;
		font-family: Arial;
		text-decoration: none;
	}






	/****************************
	PAGE: INDEX
	****************************/


	#home_header_image {
		padding-top: 30%; 
	}

	#home_header_image_box {
		height: auto;
		width: 80%;
		padding-bottom: 30px;
	}

	#home_header_image_box h1{
		font-size: 6vw;
		line-height: 90px;
	}

	#home_header_image_box p{
		font-size: 2vw;
		margin-top: -50px;
		margin-right: 65px; 
	}

	input#search {
		font-size: 2.5vw;
		height: 60px;
		padding-left: 20px;
	}

	input#button {
		font-size: 2.7vw;
		height: 60px;
	}






	/**************************** 
	PAGES
	****************************/


	.header_image {
		height: 400px;

	}

	.header_image_textbox {
		top: 120px;
		max-width: 90%;
	}

	.header_image_textbox p {
		font-size: 80px;
	}






	/****************************
	PAGE: RECEPT
	****************************/



	#gallery li {
		float: left;
		width: 45%;
		min-height: 600px;
	}


	#gallery li:nth-child(3n+4) {
	clear: right;
	}


		/****************************
	PAGE: KONTAKT
	****************************/

	#primary, #secondary {
		margin-top: 20px;
	}

	#primary {
		width: 45%;
		margin-left: 10%;
	}

	#secondary {
		float: right;
		width: 30%;
		margin-right: 10%;
	}

	#secondary li {
		list-style: none;
		text-align: left;
		margin-left: -40px;
	}











@media only screen and (max-width: 480px) {
	

	/****************************
	NAVIGATION
	****************************/


	nav {
		position: relative;
	}

	nav p {
	    text-shadow: 2px 2px #1f1f1f;
	    padding-top: 15px;
	    margin-bottom: 0;
	}

	nav ul {
		width: 80%;
		height: 60px;
	}

	nav li {
	}

	nav a {
		padding-left: 5px;
		padding-right: 5px;
	}		
	





	/****************************
	PAGE: INDEX
	****************************/


	#home_header_image {
	padding-top: 30%; 
	}

	#home_header_image_box {
		height: 200px;
		width: 90%;
	}

	#home_header_image_box h1{
		font-size: 30px;
		line-height: 90px;
	}

	#home_header_image_box p{
		font-size: 15px;
		margin-top: -50px;
		margin-right: 65px; 
	}

	input#search {
		font-size: 20px;
		height: 60px;
		padding-left: 20px;
	}

	input#button {
		font-size: 20px;
		height: 40px;
		width: 60px;
	}






/****************************
	PAGES
	****************************/	


	.header_image {
		height: 300px;
	}

	.header_image_textbox {
		height: 140px;
		top: 40px;
	}

	.header_image_textbox p {
		font-size: 50px;
	}





	
	/****************************
	PAGE: RECEPT
	****************************/



	#gallery li {
		float: left;
		width: 90%;
		height: auto;
	}






	/****************************
	PAGE: KONTAKT
	****************************/


	#primary, #secondary {
		float: left;
		width: 90%;
		margin: 5%;
	}